html, body{
  font-family: $ff-roboto;
  min-width: 320px;
}
html{
  min-height: 100%;
  position: relative;
  padding-bottom: 102px;
}
body{
  @media (min-width: 720px) {
    padding-bottom: 100px;
  }
}