.button {
font-family: $ff-roboto;
  display: block;

  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &__icon{
    display: inline-block;
    width: 9px;
    margin-left: 5px;
    position: relative;
    top: -2px;
  }
  &_big{
    border-radius: 4px;
    background-color: $col-red;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }
  &_small{
    display: inline-block;
      background-color: #282d30;
      width: 73px;
      height: 29px;
    font-size: 14px;
    color: #fff;
    font-family: $ff-roboto;
    font-weight: 300;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    @media (min-width: 720px) {
      color: #8b9497;
      background-color: transparent;
      transition-duration: 0.2s;
    }
    &:hover{
      background-color: #282d30;
      color: #fff;
    }
  }
}
