.cars {
  &__header {
    background: $col-red;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 3px;
  }
  &__col {
    &_title {
      @media (min-width: 978px) {
        max-width: 45%;
      }
    }
    &_year{
      @media (min-width: 978px) {
        max-width: 28%;
      }
    }
  }
  &__char {
    font-size: 15px;
    color: #fff;
    &_year {
      margin-left: 33px;
      margin-right: 22px;
      @media (min-width: 978px) {
        margin-right: 42px;
        margin-left: 30px;

      }
    }
    &_color {
      margin-right: 14px;
      @media (min-width: 978px) {
        margin-right: 24px;
      }
    }
    &_price {
      margin-left: 10px;
      @media (min-width: 978px) {
        margin-left: 11px;
      }
    }
  }
  @media (min-width: 720px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

