.char{
  background: #f5f6f6;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e4e4;

  @media (min-width: 720px) {
    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 5px;
    &:last-of-type{
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  @media (min-width: 978px) {
    padding-bottom: 5px;
    padding-top: 11px;
  }
  padding-left: 15px;
  &:first-of-type{
    border-top: 1px solid #e3e4e4;
  }
  &__text{
    display: inline-block;
    font-size: 14px;
    color: #282d30;
    font-weight: 300;
    width: 100%;
    &_light{
      font-size: 13px;
      color: #8b9497;
      @media (min-width: 720px) {
        line-height: 18px;
      }
    }
  }
  &__block{
    margin-bottom: 6px;
    @media (min-width: 720px) {
      margin-bottom: -2px;
      &.hidden-sm-down{
        margin-top: -7px;
      }
    }
    &_title{
      @media (min-width: 978px) {
        max-width: 45%;
      }
    }
    &_year{
      @media (min-width: 978px) {
        right: 5%;
      }
    }
    &_status{
      @media (min-width: 978px) {
        right: 5%;
      }
    }
    &_price{
      @media (min-width: 978px) {
        left: 35%;
      }
    }
    &_empty{
      height: 0;
      margin-bottom: 0;
      @media (min-width: 720px) {
        height: 0;
        margin-bottom: 0;
      }
    }
  }
 &__descr{
   max-width: 270px;
   @media (min-width: 720px) {
     max-width: 250px;
     margin-top: 4px;
     margin-bottom: 4px;
   }
   @media (min-width: 978px) {
     max-width: 100%;
   }
 }
  &__remove{
    float: right;
    position: relative;
    top: -4px;
    @media (min-width: 720px) {
      top: -3px;
      left: -7px;
    }
    @media (min-width: 978px) {
      left: -14px;
    }
  }
  &__price{
    text-align: right;
    @media (min-width: 720px) {
      margin-left: 9px;
      position: relative;
      top: -1px;
      text-align: left;
      padding-left: 12px;
    }
    @media (min-width: 978px) {
      text-align: left;
      padding-left: 57px;
    }
  }
  &__color{
    margin-top: 2px;
    margin-left: 4px;
    @media (min-width: 720px) {
      float: right;
      position: relative;
      top: -1px;
    }
    @media (min-width: 978px) {
      margin-right: 27px;
    }
  }
  &__year{
    @media (min-width: 720px) {
      width: auto;
      float: left;
      margin-left: 33px;
      position: relative;
      top: 2px;
    }
    @media (min-width: 978px) {
      margin-left: 28px;
    }
  }
  &__status{
    @media (min-width: 720px) {
      margin-left: 14px;
      position: relative;
      top: 0;
    }
    @media (min-width: 978px) {
      margin-left: 0;
    }
  }
}