.checkbox {
  list-style: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  &:last-of-type{
    margin-right: 0;
  }
  &__item {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 20px;
    height: 20px;
  }
  &__item + label {
    cursor: pointer;
  }
  &__item:not(checked) {
    position: absolute;
    opacity: 0;
  }
  &__item:not(checked) + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  &__item {
    &_white:not(checked) + label:before {
      background-color: #ffffff;
      border: 1px solid #dedede;
    }
    &_black:not(checked) + label:before {
      background-color: #000000;
      border: 1px solid transparent;
    }
    &_grey:not(checked) + label:before {
      background-color: #cbcbcc;
      border: 1px solid transparent;
    }
    &_red:not(checked) + label:before {
      background-color: #d74345;
      border: 1px solid transparent;
    }
    &_green:not(checked) + label:before {
      background-color: #88c504;
      border: 1px solid transparent;
    }
  }
  &__item:checked + label:before {
    box-shadow: 0 0 0 4px $col-red;
  }
}

