.color{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  &_white {
    background-color: #ffffff;
    border: 1px solid #dedede;
  }
  &_black {
    background-color: #000000;
    border: 1px solid transparent;
  }
  &_grey {
    background-color: #cbcbcc;
    border: 1px solid transparent;
  }
  &_red {
    background-color: #d74345;
    border: 1px solid transparent;
  }
  &_green {
    background-color: #88c504;
    border: 1px solid transparent;
  }
}