.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 102px;
  background-color: #282d30;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text{
    text-align: center;
    font-size: 11px;
    color: #fff;
    margin: 0;
  }

}