.header{
  height: 80px;
  background: #282d30;
  padding-top: 10px;
  @media (min-width: 720px) {
    height: 100px;
    padding-top: 0;
  }
  &__logo{
    width: 100%;
    max-width: 300px;
    @media (min-width: 720px) {
      max-width: 500px;
      margin: auto;
      display: block;
      position: relative;
      left: -30px;
    }
  }
}