.input{
  position: relative;
  margin-bottom: 28px;
  &__border{
    display: block;
    width: 100%;
    height: 2px;
    background:#dcdcdc;
    transition-duration: 0.2s;
  }
  &__label{
    font-size: 12px;
    display: block;
    padding-left: 8px;
    color: #999;
    position: absolute;
    left: 0;
    top: -20px;
    &_for-color{
      padding-left: 0;
      top: -14px;
    }
  }
  &__field{
    border: 1px solid #dcdcdc;
    border-bottom: none;
    display: block;
    width: 100%;
    line-height: 37px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    color: #111111;
    position: relative;
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
    /*Safari fix*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #999999;
      font-size: 12px;
      font-family: $ff-roboto;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #999999;
      font-size: 12px;
      font-family: $ff-roboto;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #999999;
      font-size: 12px;
      font-family: $ff-roboto;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #999999;
      font-size: 12px;
      font-family: $ff-roboto;
    }
    &:focus{
      outline: none;
      &+.input__border{
        background: #111111;
      }
    }
    &:hover{
      outline: none;
      &+.input__border{
        background: $col-red;
      }
    }
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
  &__check{
    padding-left: 0;
    padding-top: 2px;
  }
  &_select{
    .input__border{
      position: absolute;
      width: 100%;
      z-index: 999;
    }
    &:hover{
      .input__border{
        background: $col-red;
      }
    }
  }
  &_color{
    margin-bottom: 35px;
  }
}
