.select{
outline: none;
  width: 100%;
  &:focus{
    outline: none;
  }
  &__placeholder{
    color: #999999;
    font-size: 12px;
    font-family: $ff-roboto;
  }
}

.select2-container {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #dcdcdc;
  border-bottom: none;
  display: block;
  line-height: 37px;
  color: #111111;
  margin-bottom: 0;
  &:focus{
    outline: none;
  }
}
.select2-container *:focus {
  outline: none;
}

.select2-container--focus + .input__border{
  background: #111111;
}

.select2-container .select2-selection--single {
  height: 37px;
  line-height: 37px;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 37px;
  font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 6px 6px 0;
  height: 0;
  left: 50%;
  margin-left: -17px;
  margin-top: 3px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent;
  border-width: 6px 6px 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 35px;
}

.select2-dropdown {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 2;
}

.select2-container--open .select2-dropdown {
  left: -1px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fff;
  color: #000000;
}
.select2-results__option {
  color: #999999;
  padding: 0;
  padding-left: 8px;
  font-size: 12px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
}
.select2-results {
 padding-top: 2px;
  padding-bottom: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999999;
  font-size: 12px;
  font-family: $ff-roboto;
}

.select2-selection__placeholder{
  font-size: 12px;
}