.title{
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 42px;
  color: #282d30;
  text-align: center;
  &_m{
    text-transform: uppercase;
    font-size: 20px;
    border-left: 3px solid #8b9497;
    padding-left: 10px;
    line-height: 16px;
    margin-bottom: 27px;

    text-align: left;
  }
}

